<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <style>
        .containerFF {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            right: 15%;
        }

        .login-formff {
            width: 30%;
            height: 50%;
            padding: 20px;
            background-color: rgb(218, 2, 2);
            position: relative;
            z-index: 2;
        }

        .gradient-backgroundff {
            width: 30%;
            height: 70%;
            background: linear-gradient(to right, #ff7f50, #ffd700);
            position: absolute;
            top: 15%;
            left: 60%;
            z-index: 1;
        }

        .login-formff h2 {
            text-align: center;
        }

        .login-formff input,
        .login-formff button {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }

        .login-formff button {
            padding: 10px;
        }
    </style>
    <body>
        <section class="containerFF">
            <div class="login-formff">
                <form
                    role="form"
                    method="POST"
                    action="{{ route('login') }}"
                    class="mt-4"
                >
                    <!-- Form -->
                    <div class="form-group mb-4">
                        @csrf
                        <label for="email">Seu E-mail</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"
                                ><svg
                                    class="icon icon-xs text-gray-600"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                                    ></path>
                                    <path
                                        d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                                    ></path></svg
                            ></span>
                            <input
                                type="email"
                                class="form-control"
                                name="email"
                                id="email"
                                placeholder="example@company.com"
                                value="{{ old('email') }}"
                                aria-label="Email"
                                aria-describedby="email-addon"
                                autofocus
                                required
                            />
                        </div>
                        @error('email')
                        <div class="invalid-feedback">{{ $message }}</div>
                        @enderror
                    </div>
                    <!-- End of Form -->
                    <div class="form-group">
                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="password"> Sua Palavra-passe</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon2"
                                    ><svg
                                        class="icon icon-xs text-gray-600"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                            clip-rule="evenodd"
                                        ></path></svg
                                ></span>
                                <input
                                    type="password"
                                    placeholder="Password"
                                    name="password"
                                    required
                                    aria-label="Password"
                                    aria-describedby="password-addon"
                                    class="form-control @error('password') is-invalid @enderror"
                                    id="password"
                                    required
                                />
                            </div>
                            @error('password')
                            <div class="invalid-feedback">{{ $message }}</div>
                            @enderror
                        </div>
                        <!-- End of Form -->
                        <div
                            class="d-flex justify-content-between align-items-top mb-4"
                        >
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="remember"
                                />
                                <label
                                    class="form-check-label mb-0"
                                    for="remember"
                                >
                                    Lembrar-me
                                </label>
                            </div>
                            <div>
                                @if (Route::has('password.request'))
                                <a
                                    href="{{ route('password.request') }}"
                                    class="small text-right"
                                    >Perdeu a Palavra-passe?</a
                                >
                                @endif
                            </div>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button
                            type="submit"
                            class="btn btn-gray-800"
                            id="boltaologin"
                        >
                            {{ __('Entrar') }}
                        </button>
                    </div>
                </form>
            </div>
            <div class="gradient-backgroundff">
                <!-- Texto de saudação aqui -->
                sss
            </div>
        </section>
    </body>
</html>
